---
layout: default_helena_10G_LINK
permalink: index.html
---

{% comment %}
<!-- ======================================================================= -->
<!-- Naam: 01_index.html -->
<!-- ======================================================================= -->
{% endcomment %}

{% include default/default_helena_20G_var_lite_LINK.html %}
{% include default/default_helena_01G_content_LINK.html %}

<!-- ===================< NAVBAR >========================================== -->
<div class="wrapper_navbar_lavinia_99_01">
  <div id="0101_navbar_lavinia">
    {% if loc_use_art == false %}      
      {% include render/0101_navbar_lavinia.html %}
    {% endif %}
  </div>
</div>
<!-- =======< TEMPLATE >==================================================== -->
<section class="section_quasicloud_99_01">
  <div class="container">
    <div class="row">
      <div class="col-always-12B">
        <div class="wrapper_jumbotron_athenxxxa_01_01">
          <div id="0101_jumbotron_athena">
            {% if loc_use_art == false %}                
              {% include render/0101_jumbotron_athena.html %}
            {% endif %}          
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==================< FOOTER >=========================================== -->
<div class="wrapper_footer_lavinia_99_01">
  <div id="id_footer_01">
  </div>
</div>    
{% include render/0101_footer_lavinia.html %}

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
