{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}

{% assign content_athena_defa   = site.data.bedrijf.content_defa.content_athena_defa_02 %}
{% assign content_helena_defa   = site.data.bedrijf.content_defa.content_helena_defa %}
{% assign content_lavinia_defa  = site.data.bedrijf.content_defa.content_lavinia_defa %}
{% assign content_salina_01     = site.data.bedrijf.content_defa.content_salina_01 %}
{% assign content_salina_10     = site.data.bedrijf.content_defa.content_salina_10 %}
{% assign content_glint_03      = site.data.bedrijf.content_defa.content_glint_03 %}
{% assign content_surplus       = site.data.bedrijf.content_defa.content_surplus %}

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}


