{% comment %}
<!-- ======================================================================= -->
<!--
  Naam: default_helena_20G_var_lite.html
-->
<!-- ======================================================================= -->
{% endcomment %}

{% assign loc_site_testen              = site.data.glint.configuratie.glint_site_testen %}
{% assign loc_url_rel                  = site.data.glint.configuratie.glint_url_rel %}
{% assign loc_url_abs                  = site.data.glint.configuratie.glint_url_abs %}
{% assign loc_use_art                  = site.data.glint.configuratie.glint_use_art %}
{% assign loc_show_docu                = site.data.glint.configuratie.glint_show_docu %}

{% assign loc_path_bedrijf_media       = site.data.glint.configuratie.glint_path_bedrijf_media %}
{% assign loc_path_bedrijf_media_post  = site.data.glint.configuratie.glint_path_bedrijf_media_post %}
{% assign loc_path_tech_media          = site.data.glint.configuratie.glint_path_tech_media %}

{% assign loc_path_js_glint            = site.data.glint.configuratie.glint_path_js_glint %}
{% assign loc_path_js_vendor           = site.data.glint.configuratie.glint_path_js_vendor %}


{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
