{% comment %}
<!-- ======================================================================= -->
<!-- Naam: default_helena_20G_var.html -->
<!-- ======================================================================= -->
{% endcomment %}

{% assign loc_site_testen              = site.data.glint.configuratie.glint_site_testen %}
{% assign loc_url_rel                  = site.data.glint.configuratie.glint_url_rel %}
{% assign loc_url_abs                  = site.data.glint.configuratie.glint_url_abs %}
{% assign loc_use_art                  = site.data.glint.configuratie.glint_use_art %}
{% assign loc_use_manifest             = site.data.glint.configuratie.glint_use_manifest %}
{% assign loc_use_twitter_card         = site.data.glint.configuratie.glint_use_twitter_card %}
{% assign loc_use_service_worker       = site.data.glint.configuratie.glint_use_service_worker %}
{% assign loc_show_docu                = site.data.glint.configuratie.glint_show_docu %}

{% assign loc_meta_robots              = site.data.glint.configuratie.glint_meta_robots %}
{% assign loc_merk_tekst               = site.data.glint.configuratie.glint_merk_tekst %}
{% assign loc_merk_link                = site.data.glint.configuratie.glint_merk_link %}

{% assign loc_path_bedrijf_media       = site.data.glint.configuratie.glint_path_bedrijf_media %}
{% assign loc_path_bedrijf_media_post  = site.data.glint.configuratie.glint_path_bedrijf_media_post %}
{% assign loc_path_tech_media          = site.data.glint.configuratie.glint_path_tech_media %}

{% assign loc_path_css                 = site.data.glint.configuratie.glint_path_css %}
{% assign loc_path_icons               = site.data.glint.configuratie.glint_path_icons %}
{% assign loc_path_json                = site.data.glint.configuratie.glint_path_json %}
{% assign loc_path_js_glint            = site.data.glint.configuratie.glint_path_js_glint %}
{% assign loc_path_js_vendor           = site.data.glint.configuratie.glint_path_js_vendor %}

{% assign loc_github_upload_yes        = site.data.glint.configuratie.glint_github_upload_yes %}
{% assign loc_github_root              = site.data.glint.configuratie.glint_github_root %}
{% assign loc_github_url_abs           = site.data.glint.configuratie.glint_github_url_abs %}
{% assign loc_github_path_json         = site.data.glint.configuratie.glint_github_path_json %}
{% assign loc_github_path_media        = site.data.glint.configuratie.glint_github_path_media %}

{% assign loc_company_name_cento       = site.data.glint.centobytes.company_name_cento %}
{% assign loc_website_link_cento       = site.data.glint.centobytes.website_link_cento %}
{% assign loc_meta_keywords_cento      = site.data.glint.centobytes.glint_meta_keywords_cento %}

{% comment %}
<!-- Niet alle variabelen uit basis, bijv. jaar_copyright moet maar via site.data... -->
<!-- TODO: hoe heb ik dit opgelost, zie glint 03, hier documenteren -->
{% endcomment %}
{% assign loc_website_title            = site.data.bedrijf.basis.basis.website_title %}
{% assign loc_meta_description         = site.data.bedrijf.basis.basis.meta_description %}
{% assign loc_company_name_bedrijf     = site.data.bedrijf.basis.basis.company_name_bedrijf %}
{% assign loc_meta_keywords_bedrijf    = site.data.bedrijf.basis.basis.meta_keywords_bedrijf %}
{% assign loc_adres_straat_bedrijf     = site.data.bedrijf.basis.basis.adres_straat_bedrijf %}
{% assign loc_adres_huisnr_bedrijf     = site.data.bedrijf.basis.basis.adres_huisnr_bedrijf %}
{% assign loc_adres_postcode_bedrijf   = site.data.bedrijf.basis.basis.adres_postcode_bedrijf %}
{% assign loc_adres_plaats_bedrijf     = site.data.bedrijf.basis.basis.adres_plaats_bedrijf %}
{% assign loc_adres_telefoon_bedrijf   = site.data.bedrijf.basis.basis.adres_telefoon_bedrijf %}
{% assign loc_website_link_bedrijf     = site.data.bedrijf.basis.basis.website_link_bedrijf %}
{% assign loc_email_tekst_bedrijf      = site.data.bedrijf.basis.basis.email_tekst_bedrijf %}
{% assign loc_email_link_bedrijf       = site.data.bedrijf.basis.basis.email_link_bedrijf %}

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
