{% comment %}
<!-- ======================================================================= -->
<!-- includen in de loc_data_bolle_01.js -->
<!-- ======================================================================= -->
{% endcomment %}

const json_athena_defa  = {{ site.data.bedrijf.content_defa.content_athena_defa_02 | jsonify }};
const json_helena_defa  = {{ site.data.bedrijf.content_defa.content_helena_defa | jsonify }};
const json_lavinia_defa = {{ site.data.bedrijf.content_defa.content_lavinia_defa | jsonify }};
const json_salina_01    = {{ site.data.bedrijf.content_defa.content_salina_01 | jsonify }};
const json_salina_10    = {{ site.data.bedrijf.content_defa.content_salina_10 | jsonify }};
const json_glint_03     = {{ site.data.bedrijf.content_defa.content_glint_03 | jsonify }};
const json_surplus      = {{ site.data.bedrijf.content_defa.content_surplus | jsonify }};

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
