{% comment %}
<!-- ======================================================================= -->
<!--
  Add this to the <head> of your CMS index page at /admin/index.html, 
    as well as the <head> of your site's main index page. 
-->  
<!-- ======================================================================= -->
{% endcomment %}

<!--
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
-->

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}
