{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}

<!-- render_jumbotron_athena_20G 0.1.0 -->
<div class="jumbotron jumbotron_athena_20G ">
  <h1>Simpel gegevens wijzigen!</h1>
    &#60;p&#62;De inhoud van een deel van de website kan simpel gewijzigd worden. Dit kan met de service Prose.&#60;br&#62;Gegevens worden daar gewijzigd en deze website toont de wijzigingen.&#60;br&#62;U krijgt uitleg en een handleiding.&#60;/p&#62;
  <p>
    <a class="btn btn-primary btn-lg" href="https://prose.io/#Quasimobi/quasimobi.github.io" role="button">Prose</a>
  </p>
</div>

{% comment %}
<!-- ======================================================================= -->
<!-- ======================================================================= -->
{% endcomment %}  
  